<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="mysql.ispac.com.br_Connection" connectionString="XpoProvider=MySql;server=mysql.ispac.com.br;port=3306;user id=; password=; database=ispac33;persist security info=true;CharSet=utf8;" />
        <add name="localhost_Connection" connectionString="XpoProvider=MySql;server=mysql.ispac.com.br;port=3306;user id=; password=; database=ispac33;persist security info=true;CharSet=utf8;" />
        <add name="mysql.ispac.com.br_ispac33_Connection" connectionString="XpoProvider=MySql;server=mysql.ispac.com.br;port=3306;user id=; password=; database=ispac33;persist security info=true;CharSet=utf8;" />
        <add name="mysql.ispac.com.br_ispac33_Connection 1" connectionString="XpoProvider=MySql;server=mysql.ispac.com.br;port=3306;user id=; password=; database=ispac33;persist security info=true;CharSet=utf8;" />
        <add name="mysql.ispac.com.br_ispac33_Connection 2" connectionString="XpoProvider=MySql;server=mysql.ispac.com.br;port=3306;user id=; password=; database=ispac33;persist security info=true;CharSet=utf8;" />
        <add name="mysql.ispac.com.br_ispac33_Connection 3" connectionString="XpoProvider=MySql;server=mysql.ispac.com.br;port=3306;user id=; password=; database=ispac33;persist security info=true;CharSet=utf8;" />
        <add name="mysql.ispac.com.br_ispac33_Connection 4" connectionString="XpoProvider=MySql;server=mysql.ispac.com.br;port=3306;user id=; password=; database=ispac33;persist security info=true;CharSet=utf8;" />
        <add name="mysql.ispac.com.br_ispac33_Connection 5" connectionString="XpoProvider=MySql;server=mysql.ispac.com.br;port=3306;user id=; password=; database=ispac33;persist security info=true;CharSet=utf8;" />
        <add name="mysql.ispac.com.br_ispac33_Connection 6" connectionString="XpoProvider=MySql;server=mysql.ispac.com.br;port=3306;user id=ispac33; password=isp7515; database=ispac33;persist security info=true;CharSet=utf8;" />
        <add name="mysql.ispac.com.br_ispac33_Connection 7" connectionString="XpoProvider=MySql;server=mysql.ispac.com.br;port=3306;user id=ispac33; password=isp7515; database=ispac33;persist security info=true;CharSet=utf8;" />
        <add name="mysql.ispac.com.br_ispac33_Connection 8" connectionString="XpoProvider=MySql;server=mysql.ispac.com.br;port=3306;user id=ispac33; password=isp7515; database=ispac33;persist security info=true;CharSet=utf8;" />
        <add name="mysql.ispac.com.br_ispac33_Connection 9" connectionString="XpoProvider=MySql;server=mysql.ispac.com.br;port=3306;user id=ispac33; password=isp7515; database=ispac33;persist security info=true;CharSet=utf8;" />
        <add name="mysql.ispac.com.br_ispac33_Connection 10" connectionString="XpoProvider=MySql;server=mysql.ispac.com.br;port=3306;user id=ispac33; password=isp7515; database=ispac33;persist security info=true;CharSet=utf8;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>